body {
  background: linear-gradient(90deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
}

.container {
  margin-top: 100px;
  display: center;
  padding: 50px;
  border: 1px solid;
  border-color: lightgray;
  font-family: "Source Sans Pro", sans-serif;
  background: white;
  border-radius: 20px;
}

header {
  margin-bottom: 50px;
}

.weekly-forecast {
  margin-top: 20px;
}

.temperature-details {
  margin: auto;
}

.fa-sun,
.weather-category {
  text-align: center;
  margin-left: 20px;
}

.fa-sun {
  font-size: 90px;
  display: block;
  color: #f0a500;
}

.fa-cloud {
  color: gray;
}

.fa-cloud-showers-heavy {
  color: #1687a7;
}

.weather-icon {
  font-size: 40px;
  padding: 5px 0;
  margin: 0px;
}

.card {
  text-align: center;
}

.vertical {
  border-left: 1px solid lightgray;
  height: 110px;
}
